footer {
	position: relative;
	background-color: $primary;
	padding: 20px 75px;
}

.top__footer {
	color: $white;
	width: 100%;
	display: flex;
	z-index: 999;
}

.address__contact {
	width: 50%;

	table tr td {
		color: $white;
	}

	h5 {
		color: $white;
		margin: 20px 0 0 0;

		a {
			color: $secondary;
			cursor: pointer;
		}

	}

}

.socmed__contact {
	width: 50%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex-direction: column;
	background-color: $primary;

	ul {
		width: 20%;
		display: flex;
		justify-content: space-between;

		li {
			
			i {
				font-size: 1.5em;
				cursor: pointer;
				transition: 0.2s ease;
			}

			i:hover {
				color: $white
			}
		}

	}

}