html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	// overflow-x: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

body {
	// background: url('../img/bgsStarLagrge.png');
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.landing__page {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	transition: .6s cubic-bezier(0, 1, 0.5, 1);
	transform: translateY(0);
}

.slide-up {
	transform: translateY(-100%);
}

@keyframes fadeIn {
	to {
		opacity: 1;
	}

}

.fade-in {
	animation: fadeIn .5s ease-in 1 forwards;
	animation-delay: 1s;
	opacity: 0;
}

.is-paused {
	animation-play-state: paused;
	display: none;
}

/* ============================ Global Settings ========================================== */
a:link {
	text-decoration: none;
	color: #8b8b8b;
}

a:visited {
	text-decoration: none;
	color: #8b8b8b;
}

a:hover {
	text-decoration: none;
	color: $secondary;
}

.tab--content {
	display: none;
}

.tab--content.current {
	display: inherit;
}

// ========================= LAYOUT LIVE B2C =========================//

.hide {
	display: none;
}

.main {
	display: flex;
	flex: 1;
}

.dashboard,
.profile {
	width: 80%;

	&__menu {
		margin-top: 20px;
	}

	&__menutab {
		margin-top: 20px;
	}

}

.profile__name {
	margin: auto 20px auto 0
}

.profile__name h4 {
	font-size: 1em;
	font-weight: 300;
}

.profile__name h5 {
	line-height: 2;
	font-weight: 300;
	font-size: 0.7em;
	text-align: right;
}

.pic__circle--small {
	list-style: none;
	border-radius: 50%;
	position: relative;
	@extend .flex--center;
}

.pic__circle--small img {
	border-radius: 50%;
	width: 35px;
	height: 35px;
	object-fit: cover;
}

// NAVIGATION

.top__nav {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

/****** mobile menu ******/
.main__sidebar + .main__content {
	margin-left: 18em;
	margin-top: 50px;

	//RESPONSIVE FOR TABLET
	@include bp (max, 768px) {
		margin-left: 0;
		margin-top: 75px;
	}

}

.main__sidebar {
	//RESPONSIVE FOR TABLET
	@include bp (max, 768px) {
		display: none !important;
	}

}

/* burger menu button */
.burger__menu {
	cursor: pointer;
}

.menu__bar {
	width: 25px;
	height: 3px;
	margin: 3px 0;
	background-color: #8b8b8b;
	-webkit-transition: transform 200ms ease-in-out, opacity 200ms;
	transition: transform 200ms ease-in-out, opacity 200ms;
}

.menu__bar.clicked:nth-child(2) {
	opacity: 0;
	transform: translate(50px);
}

.menu__bar.clicked:nth-child(1) {
	background-color: #49C5FE;
	transform: rotate(45deg) translate(0px, -2px);
	position: absolute;
	z-index: 999;
}

.menu__bar.clicked:nth-child(3) {
	background-color: #49C5FE;
	transform: rotate(-45deg) translate(6px, -5px);
	position: absolute;
	z-index: 999;
}