.main__sidebar {
    width: 18em;
	background-color: transparent;
    height: 100vh;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    cursor: default;
    display: flex;
    justify-content: center;

	ul {
		width: 25%;
		display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	    height: 100%;
	}
}

.main__sidebar ul li {
	width: 100%;
	padding: 5px;
	font-size: 1em;
	font-weight: 300;
	cursor: pointer;
	transition: all 0.25s ease-in-out;
	display: flex;
	align-items: center;
	text-align: left;

	svg {
		position: relative;
		right: 20px;
		// border: 1px solid red;
	}

	span {
		margin-top: -5px;
		margin-left: -10px;
	}

}

.main__sidebar ul li:hover {
	// background-color: #303e62;
}

#sidebar a {
	-moz-transition: color 0.2s ease;
	-webkit-transition: color 0.2s ease;
	-ms-transition: color 0.2s ease;
	transition: color 0.2s ease;
	border: 0;
	color: rgba(139, 139, 139, 0.35);
	display: block;
	font-size: 1em;
	font-weight: bold;
	letter-spacing: 0.25em;
	line-height: 1.75;
	outline: 0;
	padding: .35em 0;
	position: relative;
	text-decoration: none;
}
#sidebar a.active {
	color: $secondary;
}